
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
lang: en-GB
title: Pavlos Anastasiadis
email: paul.anast97@outlook.com
description: An online Resume and Blog edited by Paul.
baseurl: # the optional subpath of your site, e.g. "/blog"
url: https://pav-anastas.github.io
author: 
  name: Pavlos Anastasiadis
  twitter:
  picture: /assets/images/pav-face375x300.jpg
twitter_username:
github_username: Pav-Anastas
logo: /assets/images/Logo.png
search: true
search_full_content: true
search_provider: lurn, #algolia
#algolia:
  #application_id: SCXMJM2W32
  #index_name: web_Pav-anastas
  #search_only_api_key: fac446222fe7895ff28cc6d4502edb46
  #powered_by: # true (default), false
  
# Analytics
google_analytics: UA-153671896-1

# Build settings
markdown: kramdown
remote_theme: "mmistakes/jekyll-theme-basically-basic"
plugins: # previsously gems
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-paginate


# Pagination - https://jekyllrb.com/docs/pagination/
paginate: 10
paginate_path: /page:num/

# Exclude from processing.
exclude:
  - .asset-cache
  - .bundle
  - .codeclimate.yml
  - .editorconfig
  - .gitattributes
  - .jekyll-assets-cache
  - .sass-cache
  - .scss-lint.yml
  - CHANGELOG
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - node_modules
  - Rakefile
  - README
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - /docs # ignore Basically Basic sample site
  - /example # ignore Basically Basic dev site

# Front Matter Defaults
defaults:
  # _posts
  - scope:
      path: "_posts"
      type: posts
    values:
      layout: post
      read_time: true
