/* ======================================================================
    De York skin
   ======================================================================
*/

@media (prefers-color-scheme: dark){
  html{
    --background-color: #1F1B24;
    <var> --accent-color: #FF0266; </var>
    --base-color: #FF7597;
  }
}
@media (prefers-color-scheme: light) {
html{
  --background-color: #F5F7F8;
  --accent-color: #7DCD85;
  --base-color: #A1B7B5;
  }
}

/* Colors */
$base-color: var(--base-color);
$text-color: #32436A !default;
$accent-color: var(--accent-color);
$background-color: var(--background-color);
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;
