/* ======================================================================
    De York skin
   ======================================================================
*/

/* Colors */
$base-color: #A1B7B5 !default;
$text-color: #32436A !default;
$accent-color: #7DCD85 !default;
$background-color: #F5F7F8 !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;

@media (prefers-color-scheme: dark) {
        html  {
          $background-color: #4E5D6B !default;
          $base-color: #A1B7B5 !default;
          $text-color:#32436A !default;
          $accent-color:#7DCD85 !default;
        }

}
