/* ======================================================================
    De York skin
   ======================================================================
*/

@media (prefers-color-scheme: dark){
  html{
    --background-color: #1F1B24;
  }
}
@media (prefers-color-scheme: light) {
html{
  --background-color: #F5F7F8;
  }
}

/* Colors */
$base-color: #A1B7B5 !default;
$text-color: #32436A !default;
$accent-color: #7DCD85 !default;
$background-color: var(--background-color);
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;
