/* ==========================================================================
   Color Functions
   ========================================================================== */

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @if (type-of($color) == 'color'){
  .color-#{$name}{
    color: #{$color};
  }
  @return mix(#fff, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @if (type-of($color) == 'color'){
  .color-#{$name}{
    color: #{$color};
  }
  @return mix(#000, $color, $percentage);
}
