---
# Only the main Sass file needs front matter (the dashes are enough)
---
.tag-list {
  background-color: var(--main-background-color);
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100%;
  padding: 0;
  a {
    background-color: var(--box-background-color);
    border: 1px solid var(--light-border-color);
    flex-grow: .01;
    font-size: var(--body-font-size);
    font-variant-numeric: normal;
    margin: 1% 2% 1% 0;
    padding: .25em .75em .25em .55em;
    text-decoration: none;
  }
  a:hover {
    background-color: var(--main-background-color);
  }
}

.posts-by-tag {
  h2 {
    padding-top: calc(2 * var(--line-height));
  }
}

.post-tagged p {
  color: var(--light-text-color);
  font-size: 1rem;
  margin-top: calc(1.5 * var(--line-height));
}

.post-tagged a {
    color: var(--light-text-color);
    margin-right: 1%;
    text-decoration: none;
}

.internal-link, .internal-link a {
  color: var(--light-text-color);
  font-size: 1rem;
  text-decoration: none;
}

a:hover {
  background-color: var(--box-background-color);
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-color: var(--link-color);
}

.site-nav {
  border-bottom: 1px solid var(--light-border-color);
  padding-bottom: calc(.3 * var(--line-height));
  display: flex;
  justify-content: flex-end;
  line-height: 1.4;
  margin-top: calc(.5 * var(--line-height));
  width: 100%;
  min-height: var(--line-height);
  a, .nav-current-page {
    margin: 0 0 0 5%;
  }
}

@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";
